/* Schrijf hier je CSS :D */
body {
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #5DAE32;
    height: 50px;
    width: 100%;
    display: flex;

    align-items: center;
    justify-content: space-between;
}

.logo {
    padding-top: 0.35vw;
    padding-left: 0.5vw;
}

.trein {
    background-image: url(assets/img/trein.jpg);
    background-size: 100% auto;
    background-position: center;
    width: 100vw;
    padding: 20vh;
    box-sizing: border-box;
}

.tim {
    background-image: url(assets/img/tim-brouwers.png);
    background-size: cover;
    border-radius: 50%;
    width: 10vw;
    height: 10vw;
}


.greentravels {
    text-align: center;
    color: white;
}

.knoppen {
    display: flex;
    justify-content: space-between;
    width: 125px;
    color:white;
    padding-right: 1vw;
}

.buttonlogin {
background-color: #5DAE32;
margin: 20px;
}

.zoeken {
    background-color: #5DAE32;
    padding: 10px;
}

.loginform {
    background-color: white;
    margin: auto;
    width: 25vw;
    height: fit-content;
    border-radius: 30px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loginform form {
    display: flex;
    width: 100%;
    max-width: 70%;
    flex-direction: column;
    align-items: center;
}

.text-center {
    text-align: center;
}

.text-lg {
    font-size: 40px;
}

.index {
    background-color: white;
    border-radius: 30px;
    margin: auto;
    margin-top: 10vw;
    width: 55vw;
    height: fit-content;
    padding: 10px 20px;
}

.my-account {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #D6EBCB;
    background-size: 100% auto;
    background-position: center;
    width: 100vw;
    box-sizing: content-box;
}

.co2bespaard {
    background-color: white;
    border-radius: 10px;
    box-shadow: pink -10px 10px 15px;
}

.co2bespaard2 {
    background-color: #5DAE32;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.reisgeschiedenis {
    background-color: white;
    grid-row: 0 / 4;
    border-radius: 10px;
    box-shadow: pink -10px 10px 15px;
}

.greencoins {
    background-color: white;
    grid-row: 2 / 4;
    border-radius: 10px;
    box-shadow: pink -10px 10px 15px;
}

.uwgreencoins {
    background-color: #5DAE32;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.persoonsgegevens{
    background-color: white;
    border-radius: 10px;
    border-style: 5px solid black;
    box-shadow: pink -10px 10px 15px;
}